<% include ./partials/_header.ejs %>

<% include ./partials/_alerts.ejs %>
 
<section class="signup">
  <div class="container">
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
      </div>
        <div class="form-group">
        <label for="last">Last</label>
        <input type="text" id="last" name="last" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="password2" />
      </div>
      <input type="submit" value="Sign Up" />
    </form>
  </div>
</section> 

<% include ./partials/_footer.ejs %>