<% include ./partials/_header.ejs %>

<div class="users-top"></div>
<main class="users">

  <table class="users" id='userList'>
    <tr>
      <th class="id">&nbsp;</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
    <th colspan="5" class="header-line"> <hr /> </th> 
  </table>

</main>



<% include ./partials/_footer.ejs %>