<% include ./partials/_header.ejs %>

<table id='userList'>
  <tr>
    <th>&nbsp;</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
</table>

<% include ./partials/_footer.ejs %>