* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  margin-bottom: 100px;
  /* min-height: 100vh; */
}

h1 {
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  line-height: 1.6;
  border: 2px solid #ddd;
}

input[type="submit"] {
  background: steelblue;
  width: auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border: 1px solid #ddd;
  border-radius: 6px;
  float: right;
  cursor: pointer;
  box-shadow: none;
}
input[type="submit"]:disabled {
  background: gray;
}

/* USER TABLE */
table, th, td {
  border: 1px solid black;
}

/* LAYOUT */

.container {
  max-width: 1200px;
  margin: 0 auto 40px;
  overflow: hidden;
}

.alert .container {
  margin-bottom: 0;
}

.form-group {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}


/* LOGIN PAGE */

.login, .signup {
  max-width: 600px;
  margin: 40px auto;
}


/* ALERT */
.alert.error {
  background-color: #f8d7da;
  /* max-width: 680px; */
  padding: 10px 20px;
  margin: 5px auto 0;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
}


/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  background-color: #ddd;
  width: 100%;
  padding: 20px 5%;
  color: #444;
  text-align: center;
  overflow: hidden;
}

/* SUCCESS BOX */
.success-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/succss-air.jpg');
  background-size: cover;
}
.success-box img {
  height: 100px;
  width: auto;
  margin: 30px;
}
.success-text {
  background: #D8D8D8;
  opacity: 0.85;
  margin: 20px;

}
.success-text h1 {
  margin-bottom: 10px;
  text-align: center;
  color: #4C7394;
  font-size: 2em;
  font-weight: bold;
}
.success-text p {
  text-align: center;
  color: #2B5A88;
  margin: 5px 30px;
}